body {
  font: 1.8em Helvetica, Arial;
}

fieldset {
  background: rgb(46, 46, 46);
  padding: .3em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

fieldset input {
  border: 0;
  padding: .3em;
  margin-right: .5%;
  width: 80%;
}

fieldset #button {
  color: #FFF;
  background: #2D9F0B;
  border: none;
  padding: .3em;
  width: 10%;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: .3em .6em;
}

#messages li:nth-child(odd) {
  background: #eee;
}

#notifyUser {
  position: fixed;
  bottom: 2.5em;
  padding: .2em;
  width: 100%;
  background: rgb(214, 214, 216);
}

/* Reference: http://javabeginnerstutorial.com/javascript-2/create-simple-chat-application-using-node-js-express-js-socket-io/ */